<b>Comments within your Code</b>

A vital piece of code writing is including comments within your code. Comments are chunks of text that are written above, below, alongside, etc. lines of code within a cell that is marked as "Code" (or in command mode). These chunks of text will be visable to you, but will NOT be executed as part of the rest of the code. Basically, you are marking your code with commentary -- for your own understanding or to allow someone else reading your code to better understand what you were doing. Get into the practice of writing descriptive comments along with all of your code. While you are learning variaous skills, it will be invaluable for you to notate the purpose of each section of code. Throughout the course lessons, you will find valuable information in the comments that I include in my code.

To create a comment, insert a hashtag before a line of text within a cell that is in command mode. The text will turn green and you will know that it is a comment. See below for what a comment looks like within a cell!

In [ ]:
# this is a comment line

In [ ]:
            # this is just for you!

# Introduction to Data, Datasets, and Basic Python

### What is Data?

Data are individual units of information. In analytics, data are represented by variables. Data can include the names of everyone in a community, the height of each player on a basketball team, the life-expectancy rate for several different countries, a description of symptoms from a patient over the course of a hospital stay, or the text from several articles about a specific topic. Data is endless, and as more avenues become available for collecting information, traditional data is expanding into BIG data.

### Data Types

Main types of values we will be covering in this class are: 

- An int value is an integer (whole numbers)
- A float value is a decimal number
- A string value is alpha-numeric characters that cannot be mathematically computed; can use single or double quotes
- A Boolean value is either True or False

In [ ]:
123      # this is an integer

In [ ]:
1.23     # this is a float

In [ ]:
"123"    # this is a string

In [ ]:
'123'    # this is a string, too

In [ ]:
"I'm a string."

In [ ]:
'I"m a string as well.'

In [ ]:
""Hey, me too", said the next one."

In [ ]:
"\"Hey, me too\", said the next one."   # use an escape key ('\') before double quote (")

In [ ]:
True

In [ ]:
false            # what color is it?

In [ ]:
False

### What is a Variable? 

<b>A variable</b> is a holder or container for a specific value(s). A value can range in type, but regardless of what the value is, the variable holds that information which allows you to call upon it when you need it. Variables can hold one or many values. 

<b>A value</b> is information or data. This can include a number, a sentence, a symbol, an address, etc. The list is endless. Sometimes values are complex and messy, and therefore they are better organized and manipulated when assigned to a variable.

<b>ASSIGNING A VALUE TO A VARIABLE</b>

You can assign any value you choose to any variable you choose. When considering what to name your variables, keep the variable names (1) descriptive, (2) short, and (3) without spaces!

To assign a value to a variable name, you will first write the name of the variable and then add a single equal sign (=), on the right of the equal sign you will write out the value you want to assign that variable.

In [ ]:
# <variable name> = <data value>

x = 123    # variable name is x and it has an integer value of 123
y = 1.23   # variable name is y and it has a float value of 1.23
z = "123"  # varialbe name is z and it has a string value of "123"
z1 = '123' # varialbe name is z1 and it has a string value of '123'

<b>OUTPUTTING THE VALUE OF A VARIABLE</b>

What use is a variable if you can never see what value(s) it contains? Throughout this course, you will learn to explore and manipulate the data that is stored within variables. However, before we get too fancy, we have to learn how to display the values that are contained within our variables. We can do this easily by simply typing the variable name in a cell and running that cell -- the output beneath the cell will display the value stored within the variable.

In [1]:
x          # this statement will print the value of x

NameError: name 'x' is not defined

In [17]:
rate = 2.625%

SyntaxError: invalid syntax (2681249226.py, line 1)

In [18]:
# % is an arithematic operator


rate = 0.02625
rate

0.02625

In [19]:
found = True    # use a verb to hold Boolean value
found

True

In [20]:
# variable names start with a letter or underscore (_)

_12th = 3
_12th

3

In [4]:
12th = 100
12th

SyntaxError: invalid decimal literal (2307516060.py, line 1)

In [21]:
# a variable name must start with a letter or underscore (_)


th12=100
th12

100

In [22]:
# variable naming convention

firstName = "camel type"
first_name = "snake type"
firstname = "not very good type"

In [23]:
# variable can hold any data type in Python
value = 20877
value

20877

In [24]:
value = "20877"
value

'20877'

In [25]:
value = 208.77
value

208.77

###  Exercise 1

- On each cell, create a variable called: 
    - my_name : assign a <b>string</b> value and display its value
    - month : assign an <b>integer</b> number and display its value
    - gpa : assign a <b>float</b> number and display its value


- Run each cell at a time
- Create a new cell and reassign all three variables to new values and display each value
- Run the new cell

In [26]:
# my_name : assign a string value and display its value
my_name = "Joy"
my_name

'Joy'

In [27]:
# month : assign an integer number and display its value

month = 4
month

4

In [28]:
# gpa : assign a float number and display its value

gpa = 3.56
gpa

3.56

In [29]:
my_name =  "Kyle"                            # give a new value
month = 8                               # give a new value
gpa =  2.77                                # give a new value

In [30]:
my_name = "Andrea"
month = "March"
gpa = 3.97
# run this cell and see what happens
my_name
month
gpa

3.97

<b>PRINTING THE VALUES OF A VARIABLE</b>

The <b>PRINT FUNCTION</b> commands the system to output the values of one or multiple variables. This function comes in handy when you want to see multiple values output together (combating the problem we just saw above). The print function also allows you to display more complex data than just a single value. We will explore more of what this looks like later on -- but for now, get familiar with how the print function works.

In [31]:
# print a string by putting it in the paraenthases 

# print()

print("Hello, World!!!")

Hello, World!!!

In [32]:
print("These are the values that I've assigned my variables:")

print(my_name)
print(month)
print(gpa)

These are the values that I've assigned my variables:
Andrea
March
3.97

In [33]:
print("One of Python's strength is its diverse community.")

One of Python's strength is its diverse community.

In [34]:
# you can include escape characters in your string
# use \t to tab
# use \n to start a new line

print("text with\t1 tab\t\t2 tabs")

text with	1 tab		2 tabs

In [35]:
# use the \n escape key before where you want to split 

print("this\nis\nmultiple\nlines\nof\ntext")

this
is
multiple
lines
of
text

In [36]:
# you can use a block string to also create multiple lines of text 
# a block string is characterized by three double quotes

print("""this is 
multiple 
lines 
of 
strings in Python""")    # this is a doc-string or block string

this is
multiple
lines
of
strings in Python

In [13]:
print(value)             # where did 'value' variable come from?

208.77

In [37]:
# you can insert variable names into the print function to return the value of the variable
# separate the string by a comma

print("Hello, ", my_name)

Hello,  Andrea

In [38]:
greetings = "Hello"
first_name = "Elmo"

In [15]:
print(greetings, first_name)  # what's the result?  why?

Hello Elmo

In [39]:
print(first_name, last_name)  # what's the result?  why?

NameError: name 'last_name' is not defined

In [40]:
# printing numbers creates a line of values

print(1, 2, 3, 4, 5)

1 2 3 4 5

In [41]:
# by default, values are separated by spaces
# you can change this by specifying a character to replace

star = "*"

print(1, 2, 3, 4, 5, sep="*")
print(1, 2, 3, 4, 5, sep=star)
print(1, 2, 3, 4, 5, sep=star)
print(1, 2, 3, 4, 5, sep=star)
print(1, 2, 3, 4, 5, sep=star)

1*2*3*4*5
1*2*3*4*5
1*2*3*4*5
1*2*3*4*5
1*2*3*4*5

In [42]:
# by default the print function ends with blank space
# you can change this by specifying a character to replace

print(1, 2, 3, 4, 5, end='**')
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5)

1 2 3 4 5**1 2 3 4 5
1 2 3 4 5

In [50]:
# you can assign the end-of-line or separating characters to variables
# you can use these variables multiple times

EOL = '|'
DELIMITER = '\t' # you can also include escape keys 

print(1, 2, 3, 4, 5, sep=DELIMITER, end=EOL)      # user all upper cases for constant variable
print(1, 2, 3, 4, 5, sep=DELIMITER)
print(1, 2, 3, 4, 5, sep=DELIMITER)

1	2	3	4	5|1	2	3	4	5
1	2	3	4	5

In [51]:
# the print statement can be used with all variable types
# but what if you want to see the type of variable?

val1 = 20877
val2 = "20877"
val3 = 208.77

print(val1)
print(val2)
print(val3)

20877
20877
208.77

<b>OUTPUTTING THE TYPES OF DATA WITHIN A VARIABLE</b>

The <b>TYPE FUNCTION</b> commands the system to output the 'variable type' information that is stored within a specific variable. Different variable types require specific codes, therefore, it is always important to be aware of the type of variables you are working with. The type function will read the variable name and output the type of variable that it is.

In [52]:
type("Hello")

str

In [53]:
# use the type function to see the data-type stored with the value 

type(val1)

int

In [54]:
type(val2)

str

In [55]:
# combine the print and type function to return the type for multiple values

print(type(val1))
print(type(val2))
print(type(val3))

<class 'int'>
<class 'str'>
<class 'float'>

### Arithmetic Operators
    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division

In [56]:
# let's start with two numbers to work with 

numb1 = 25
numb2 = 5

In [57]:
# add two numbers together

print(numb1 + numb2)

30

In [58]:
# subtract two numbers 

print(numb1 - numb2)

20

In [59]:
# let's change the value of numb2 
numb2 = 4

# divide two numbers (left into the right number) 
numb1 / numb2

6.25

In [60]:
# floor division divides two numbers and returns the value without a remainder 

numb1 // numb2

6

In [61]:
# modulos returns the remainder after dividing two numbers
# 4 goes into 25 6-times, and there is 1 leftover (4x6 = 24; 25-24 = 1)

numb1 % numb2

1

In [62]:
# python uses the order of operations
# PEDMAS
# P,E,[DM],[AS] 
# paraenthases, exponent, division/multiplication, addition/subtraction


# 25 - (24) - where do you start?

numb1 - ((numb1 // numb2) * numb2)

1

In [63]:
# 25 % 4 + 1

numb1 % numb2 + 1        # what is going on?

2

In [64]:
# 25 % (4 + 1) - where do you start?

numb1 % (numb2 + 1)

0

In [65]:
result = 0

result = result + 3

print(result)

3

### Arithmetic Compound Operators
    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b

In [66]:
# 3 is added to the value of 'result'

result = 0
result += 3

# print the new value of result

print(result)

3

In [67]:
# 2 is added to the value of 'new_value'

new_value += 2  

print(new_value)

NameError: name 'new_value' is not defined

In [68]:
# you have to first define (assign a value) a variable before using a compound operator
new_value = 0

# 2 is added to the value of 'new_value'
new_value += 2  # new_value = new_value + 2

print(new_value)

2

In [69]:
# the value of 'result' is multiplied by 5

result *= 5

print(result)

15

In [70]:
# the value of 'result' is divided by 5

result /= 5
print(result)

3.0

In [71]:
# assigned a new value
new_value = 8

# find the remainder of new_value and 5
# new_value = new_value % 5

new_value %= 5
print(new_value)

3

In [72]:
new_value = 8

# divide new_value by 5 without a remainder (floor)
# new_value = new_value // 5

new_value //= 5
print(new_value)

1

### String Operations
    + : concatenation
    * : repeat

In [73]:
# strings can use the operators but the results will be different

message = "secret"

# add two strings together

print(message + message + message)

secretsecretsecret

In [74]:
# multiply strings to repeat them a certain amount of times

print(message * 5)

secretsecretsecretsecretsecret

### Formatted String
    {}  : a place holder
    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

In [75]:
first_name = "Cookie"
last_name = "Monster"

In [76]:
# non-formatted string will not have the same features

print("The main character is {first_name} {last_name}.")

The main character is {first_name} {last_name}.

In [77]:
# the curly brackets are placeholders for variable values

print(f"The main character is {first_name} {last_name}.")

The main character is Cookie Monster.

In [78]:
amount = 1234567.89123

# return the value of the variable in a specific format
# comma in thousands place and 3 decimal places

print(f"Amount is ${amount:,.2f}")

Amount is $1,234,567.89

In [79]:
# return the value with a comma in the thousands place and convert to percentage 

print(f"Amount is {amount:,.3%}")

Amount is 123,456,789.123%

In [80]:
unit_price = 99.99
qty = 53

# use formatted strings to format equations and results
# multiply unit price and quantity and format the answer with a $

print(f"Subtotal: ${unit_price * qty}")

Subtotal: $5299.469999999999

In [81]:
# add a comma in the thousands place

print(f"Subtotal: ${unit_price * qty :,}")

Subtotal: $5,299.469999999999

In [82]:
# limit the result to two decimal spaces

print(f"Subtotal: ${unit_price * qty :.2f}")

Subtotal: $5299.47

In [83]:
# add comma and two decimal spaces 

print(f"Subtotal: ${unit_price * qty :,.2f}") # in dollar amount format

Subtotal: $5,299.47

In [84]:
x = 123.45143

# the number of decimal spaces can be changed

print(f"{x:.3f}")

123.451

In [85]:
rate = 0.03255    # morgage rate 3.255%

# quickly format a value as a percentage 

print(f"Current rate: {rate:.2%}")

Current rate: 3.26%

In [86]:
# the number of decimal spaces can be changed 
# 0's will be inserted if there is nothing else to return

print(f"Current rate: {rate:.9%}")

Current rate: 3.255000000%

###  Exercise 2

- Fix the Python code on the next cell.  It is calculating the sales tax and total price (including sales tax) for 10 books when the price of a book is $49.95 and the tax rate is 6.5%
- Show your code works in nice readable format

In [87]:
# fix this code using everything you learned above 

price = 49.95
qty = 10
tax = 0.065

sub_total = price * qty
sales_tax = sub_total * tax
total = sub_total + sales_tax
print(f"The total is ${total:,.2f}")

The total is $531.97

In [88]:
# use formatted string and fix this code so it runs correctly 

print(f"Price:\t\t${price:.2f}")
print(f"Quantity:\t{qty}")
print("-" * 30)
print(f"Subtotal:\t${sub_total:.2f}") # tbd
print(f"Sales Tax:\t${sales_tax:.2f}")
print("=" * 30)
print(f"Total:\t\t${total:.2f}")

Price:		$49.95
Quantity:	10
------------------------------
Subtotal:	$499.50
Sales Tax:	$32.47
==============================
Total:		$531.97

In [91]:
# fix this code using everything you learned above 

price = 49.95 # remove $
qty = 10
tax = 0.065 # convert to decimal

subtotal = price * qty # remove one *

sales_tax = subtotal * tax

total = sub_total + sales_tax # need to change tax to sales_tax

In [93]:
# use formatted string and fix this code so it runs correctly 

print(f"Price:\t\t${price:.2f}") # correct variable names

print(f"Quantity:\t{qty}") # the f is missing

print("-" * 30) # can't add a number a str, need to multiply

print(f"Subtotal:\t${subtotal:.2f}") # change from .3f to .2f to be consistent

print(f"Sales Tax:\t{sales_tax:.2f}") #replace $ with "f"

print("=" * 30)

print(f"Total:\t\t{total:.2f}") # add "f" after the 2; remove $ from before the "2"; remove the "total"

Price:		$49.95
Quantity:	10
------------------------------
Subtotal:	$499.50
Sales Tax:	32.47
==============================
Total:		531.97

### Built-in Functions: 

    input([prompt]) : retrieves a string from a user
    
The input() function asks the user (that's you) to enter a specific value. When you run a cell with input(), you will be prompted to enter a value manually. The input function will then return a string. You have the option of adding additional text to direct the user on what to do.

In [94]:
# what happens when you run this cell?

input()

 hello

'hello'

In [95]:
# add directions so the user knows what to do

print("Enter your first name:")

# you can assign a variable to an input function; the value of the variable will be whatever the user inputs

first_name = input()

# print the result to see what the user submitted 

print("Hello, " + first_name + '!')

Enter your first name:

 Andrea

Hello, Andrea!

In [96]:
print("What is your name?", end="  ") # add an extra blank space after the question

first_name = input()

print("Hello, " + first_name + '!')

What is your name?

 Andrea

Hello, Andrea!

In [97]:
first_name = input("Enter your first name: ")

print("Hello, " + first_name + '!')

Enter your first name:  Andrea

Hello, Andrea!

In [99]:
# a prompt can be added to provide the user with more direction or a stylistic choice 

prompt = ">>>>"

print("Enter a number:")

numb1 = input(prompt) # include the prompt in the paraenthses of the input function 

print("Enter next number:")

numb2 = input(prompt)

total = int(numb1) * int(numb2)
# total = numb1 * numb2

print(f"{numb1} * {numb2} = {total}")

#print(f"{numb1 * numb2})

## remember, by default input() returns a string value

Enter a number:

>>>> 3

Enter next number:

>>>> 90

3 * 90 = 270

### Built-in Functions:    
    
    int(arg)        : converts arg into an integer value
    float(arg)      : converts arg into a float value
    str(arg)        : converts arg into a string value
    
Sometimes you want to convert data from one type to another. You can do this easily by using the int(), float(), and str() functions that take a object/value and convert it to the specified type.

In [100]:
# convert a string to an integer

int("123")

123

In [101]:
# convert float to integer

int(123.999)

123

In [102]:
# convert string to integer

int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [103]:
# convert integer to float

float(123)

123.0

In [104]:
# convert string to float

float("123.99")

123.99

In [105]:
# convert integer to string

str(123)

'123'

In [106]:
# convert float to string

str(123.999)

'123.999'

In [107]:
prompt = ">>>"

print("Enter a number:")
numb1 = int(input(prompt)) # use the int() function to convert input from string to integer

print("Enter next number:")
numb2 = int(input(prompt))

total = numb1 * numb2

print(f"{numb1} * {numb2} = {total}")

Enter a number:

>>> 13

Enter next number:

>>> 90

13 * 90 = 1170

In [108]:
print(f"{numb1} + {numb2} = {numb1 + numb2}")
print(f"{numb1} - {numb2} = {numb1 - numb2}")
print(f"{numb1} * {numb2} = {numb1 * numb2}")
print(f"{numb1} / {numb2} = {numb1 / numb2}")

13 + 90 = 103
13 - 90 = -77
13 * 90 = 1170
13 / 90 = 0.14444444444444443

###  Exercise 3

- Copy and paste the Exercise 2 solution cell.
- Modify the code to ask a user for price and quantity of a book.
- Use the copied solution cell to calculate new total.
- Show your code works in nice readable format - using previous solution.

In [109]:
# ask a user for the price of a book

print("Enter the price of the book: ")
price = float(input())

Enter the price of the book:

 16.89

In [110]:
# ask a user for the quantity of a book

print("Enter the quantity of books: ")
qty = int(input())

Enter the quantity of books:

 12

In [111]:
# copy and paste the Exercise 2 solution, and run
# you should get a new answer because your values will be different

tax = 0.065

sub_total = price * qty
sales_tax = sub_total * tax
total = sub_total + sales_tax

print(f"Price:\t\t${price:.2f}")
print(f"Quantity:\t{qty}")
print("-" * 30)
print(f"Subtotal:\t${sub_total:.2f}") # tbd
print(f"Sales Tax:\t${sales_tax:.2f}")
print("=" * 30)
print(f"Total:\t\t${total:.2f}")

Price:		$16.89
Quantity:	12
------------------------------
Subtotal:	$202.68
Sales Tax:	$13.17
==============================
Total:		$215.85