### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [1]:
val = 4.5667
round(val, 2)

4.57

2. Convert "657" to an integer data type

In [2]:
num = "657"
int(num)

657

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [12]:
import random as rand

num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
code = ""

def generateCode(x,y):
    return str(rand.randint(x, y))
    
code += generateCode(num1, num2) + "-"
code += generateCode(num1, num2) + "-"
code += generateCode(num1, num2) + "-"
code += generateCode(num1, num2) + "-"
code += generateCode(num1, num2) + "-"
code += generateCode(num1, num2)
print(code)

Enter number 1:  2
Enter number 2:  7

2-2-4-7-5-5

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [19]:
ln1 = " Hickory, dickory, dock,     "
ln2 = " The mouse ran up the clock.   "
ln3 = " The clock struck one,   "
ln4 = " The mouse ran down,                      "
ln5 = " Hickory, dickory, dock"

In [20]:
def cleanText(text):
    return text.strip()

In [23]:
print(cleanText(ln1))
print(cleanText(ln2))
print(cleanText(ln3))
print(cleanText(ln4))
print(cleanText(ln5))

Hickory, dickory, dock,
The mouse ran up the clock.
The clock struck one,
The mouse ran down,
Hickory, dickory, dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [24]:
miles = int(input("Enter the number miles: "))
gallons = int(input("Enter the number of gallons: "))

def mpg(miles, gallons):
    return miles/gallons

mpg(miles, gallons)

Enter the number miles:  100
Enter the number of gallons:  10

10.0

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

In [25]:
def compute(r):
    area = 3.14 * (r * r)
    circumference = 3.14 * r
    print(f"Area is {area}, and circumference is {circumference}")

compute(5)

Area is 78.5, and circumference is 15.700000000000001

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [28]:
def multiply_two():
    num1 = rand.randint(1, 101)
    num2 = rand.randint(1, 101)
    print(f"{num1} * {num2} = {num1 * num2}")

multiply_two()

1 * 76 = 76

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [30]:
def multiTable():
    num = int(input("What is your number? "))
    print(f"{num} X 1 = {num * 1}")
    print(f"{num} X 2 = {num * 2}")
    print(f"{num} X 3 = {num * 3}")
    print(f"{num} X 4 = {num * 4}")
    print(f"{num} X 5 = {num * 5}")
    print(f"{num} X 6 = {num * 6}")
    print(f"{num} X 7 = {num * 7}")
    print(f"{num} X 8 = {num * 8}")
    print(f"{num} X 9 = {num * 9}")

In [31]:
multiTable()

What is your number?  3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27